@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway&display=swap');


/* :root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  min-width: 360px;
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  line-height: 1.8;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img {
  width: 100%;
  border-radius: 10px;
}


:root{
  --olive-green: #3D5736;
  --olive-green-s-t: #3d5736d8;
  --text-white: #f2f2f2;
  --white: #f9f9f9;
  --nav-bg:  #36383F;
  --dark-black: #1E1E1E;
  --grey: #85888C;
  --light-grey: #a5a7af;
  --yellow: #F7C600;

  --card-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  --inner-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.5);
}



/* Header */
.header{
  
  min-height: 3rem;
  background-color: var(--nav-bg);
  box-shadow: 1px 1px 5px 0px var(--grey);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 400;
}

.site-logo {
  height: 60px;
  width: 50px;
  background-image: url('/images/afu-logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: .5rem;
  left: 1rem;
  z-index: 500;
  overflow: visible;
  
}

/* Logo */
.logo{
  display: inline-block;
  color: var(--white);
  font-size: .8rem;
 
}

.logo h2 {
  padding: 1rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;

}

.logo .flag {
  margin-left: .2rem;
}
.logo .flag img {
  border-radius: 0;
}

/* Nav menu */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 3rem;
  background-color: var(--nav-bg);
  overflow: hidden;
  
}

.menu {
  margin-top: 2rem;
  margin-left: 1rem;
}
.menu a{
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
  color: var(--white);

}

.menu a:hover{
  background-color: var(--grey);
}

.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
  cursor: pointer;
  float: right;
  padding: 1.6rem;
}


.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  
}

.hamb-line::before,
.hamb-line::after{
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 8px;
}

.hamb-line::after{
  top: -8px;
}


.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
  max-height: 50%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}


/* Responsiveness */

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
  }
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;

  }
  .menu {
    margin-top: 0;
    margin-left: 1rem;
  }
  .menu li {
      float: left;
      font-size: 1rem;
  }

  .menu a:hover{
      background-color: transparent;
      color: var(--grey);
      
  }
  
  .hamb{
      display: none;
  }

}


.container {
  max-width: 768px;
  margin: auto;
  
  padding: 0 10px;
}

/*category card*/

.cat-card {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  box-shadow: var(--inner-shadow), var(--card-shadow);
  padding: 2rem 1rem;
}

.cat-card h2 {
  color: var(--text-white);
  padding: .5rem;
  background-color: var(--olive-green-s-t);
}

.cat-card p {
  line-height: 1;
  padding: .2rem;
  color: var(--text-white);
  background-color: var(--dark-black);
}

.card-btn {
  display: inline-block;
  background: var(--yellow);
  color: var(--dark-black);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: .9rem;
  font-family: 'Raleway', sans-serif;
  transition: all .25s;
}

.card-btn:focus {
  outline: none;
}

.card-btn:hover {
  transform: scale(1.1);
  transition: all .25s;
}

/*dead rus stats*/
.deadRusStats {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-black);
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, .1); */
  max-width: 640px;
  margin: 2rem auto;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
}

.deadRusStats .deadRusHeader {
  
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.deadRusStats .warDay {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--yellow);
  /* background: linear-gradient(0deg, rgba(255,232,12,1) 0%, rgba(251,244,0,1) 49%, rgb(84, 158, 255) 50%, rgb(75, 156, 248) 100%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.deadRusStats .statsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 1rem 1rem 0 1rem;
}

.deadRusStats .statsItem {
  margin: 0 .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  min-width: 33%;
}

.deadRusStats .statsItem .statIcon {
  width: 48px;
  height: 48px;
  background-color: var(--light-grey);
  padding: .25rem;
  border-radius: 50%;
}

.deadRusStats .nums {
  margin-left: .5rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--olive-green);
}

.deadRusStats .dayIncr {
  color: var(--nav-bg);
  font-size: .8rem;
}

@media screen and (min-width: 768px) {
  .statsItem {
      font-size: 1rem;
  }
}

/*dark*/
.img__dark {
  filter: invert(80%);
}

.deadRusStats__dark {
  color: var(--text-on-dark) !important;
}

/*blog*/
.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  z-index: -1;
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  margin: 0 auto;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  max-width: 640px;
}

.infoBtn {
  cursor: pointer;
}

.infoTxt {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255, 255, 255, .6);
  padding: 0 1rem;
  margin: 0.5rem 0 0 0;
  border-radius: 3px;
  font-size: .9rem;
  line-height: 1.1;
  opacity: 0;
  transition: opacity  .3s;
  transition-delay: .2s;
  transition-property: height;
  height: 0;
  overflow: hidden;
}

.infoTxt__open {
  opacity: 1;
  transition: opacity  .3s;
  transition-delay: .2s;
  transition-property: opacity;
  height: auto;
}


